<div class="container my-5">
    <h1 class="mb-3">Subjects</h1>

    <p><button type="button" class="btn btn-primary" [routerLink]="['add']" >Add New Subject</button></p>

    <table class="table" *ngIf="subjects && subjects.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Semester</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subject of subjects">
                <td>{{ subject.id }}</td>
                <td>{{ subject.code }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.semester }}</td>
                <td><a [routerLink]="['/subjects', 'edit', subject.id ]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!subjects || subjects.length <= 0">No Subjects Found</p>
</div>