<div class="card row mx-3 mb-2 mt-3">
  <div class="card-header text-center">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">University Management System</h5>
    <p class="card-text text-center">UniMS is a web digital solution that helps automate tasks. Ranging from registering students, admitting students, onboarding them, managing their fees, managing payroll for lecturers to helping students access online learning, classroom training etc. a university management system is a complete solution. Reducing manual labor and intervention, this system ensures accuracy, transparency, reliability, and integrity of records, information, intellectual property and data.</p>
    <div class="row mx-4 mt-4">
      <div class="col mb-2">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/students.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Students</h5>
            <p class="card-text">Here you can add new students, edit information of current students, and delete existing students.</p>
            <a routerLink="students" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/subjects.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Subjects</h5>
            <p class="card-text">Here you can add new subjects, edit information for current subjects, and delete existing subjects.</p>
            <a routerLink="subjects" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/courses.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Courses</h5>
            <p class="card-text">Here you can add new courses, edit information of current courses, and delete existing courses.</p>
            <a routerLink="courses" class="btn btn-primary card-btn-bottom">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/lecturers.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lecturers</h5>
            <p class="card-text">Here you can add new lecturers, edit information of current lecturers, and delete existing lecturers.</p>
            <a routerLink="lecturers" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card" style="width: 15rem; height: 23rem;">
          <img src="./assets/employees.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">Here you can add new employees, edit information of current employees, and delete existing employees.</p>
            <a routerLink="lecturers" class="btn btn-primary">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted text-center">
    2 days ago
  </div>
</div>

