<div class="row mt-3">
    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <img src="./assets/students.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">Here you can add a new students, edit personal information of current students, and delete existing students.</p>
          <a routerLink="students" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <img src="./assets/subjects.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Subjects</h5>
          <p class="card-text">Here you can add a new subjects, edit information for current subjects, and delete existing subjects.</p>
          <a routerLink="subjects" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <img src="./assets/courses.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <p class="card-text">Here you can add a new courses, edit information of current courses, and delete existing courses.</p>
          <a routerLink="courses" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <img src="./assets/lecturers.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lecturers</h5>
          <p class="card-text">Here you can add a new lecturers, edit personal information of current lecturers, and delete existing lecturers.</p>
          <a routerLink="lecturers" class="btn btn-primary">See more</a>
        </div>
      </div>
    </div>
  </div>