@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h4>This is Team A, or call us Team Awesome.</h4>

"We are hungry. Please donate lunch money <a href=\"https://www.gofundme.com/en-au\">here</a>".
<br>
<br>

<SurveyPrompt Title="How is Blazor working for you?" />
<br>

<Counter IncrementAmount="5" />