<div class="container my-5">
    <h1 class="mb-3">Employee</h1>
    <table class="table" *ngIf="Employee && Employee.length > 0">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Employeename</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Depatment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of Employee">
            <td>{{x.Employeeid}}</td>
            <td>{{x.Employeename}}</td>
            <td>{{x.Email}}</td>
            <td>{{x.Phone}}</td>
            <td>{{x.Salary}}</td>
            <td>{{x.Department}}</td>
        </tr>    
    </tbody>
    </table>
    <p *ngIf="!Employee || Employee.length <= 0">No Employee Found</p>
</div>