<div class="container my-5">
    <h1 class="mb-3">Lecturers</h1>

    <p><button type="button" class="btn btn-primary" [routerLink]="['add']" >Add New Lecturer</button></p>

    <table class="table" *ngIf="lecturers && lecturers.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lecturer of lecturers">
                <td>{{ lecturer.id }}</td>
                <td>{{ lecturer.name }}</td>
                <td>{{ lecturer.email }}</td>
                <td>{{ lecturer.phone }}</td>
                <td><a [routerLink]="['/lecturers', 'edit', lecturer.id ]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!lecturers || lecturers.length <= 0">No Lecturers Found</p>
</div>